.services {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;

  background-image: linear-gradient(
    to right bottom,
    rgba(#1b2430, 1),
    rgba(#4f80cf, 1)
  );
  color: #fff;

  padding: 10rem 5rem;
  position: relative;

  @media only screen and (max-width: 25em) {
    padding: 8rem 2rem;
  }

  &__intro {
    &--heading {
      font-size: 3rem;
    }
    &--para {
      display: block;
      margin-top: 2rem;
      font-size: 1.6rem;
      line-height: 1.5;
      width: 45vw;
      line-break: strict;
      @media only screen and (max-width: 56.25em) {
        width: 100%;
        font-size: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
      }
      @media only screen and (max-width: 25em) {
        font-size: 2.2rem;
      }
    }
  }

  &__container {
    max-width: 90%;
    width: 90%;
    margin: 0 auto;

    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6rem;
    padding: 0;
    @media only screen and (max-width: 87.5em) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15rem;
      grid-row-gap: 8rem;
    }
    @media only screen and (max-width: 56.25em) {
      grid-column-gap: 8rem;
      grid-row-gap: 4rem;
    }
    @media only screen and (max-width: 46.875em) {
      grid-template-columns: 1fr;
      padding: 0 10rem;
      grid-column-gap: 0;
    }
    @media only screen and (max-width: 31.25em) {
      padding: 0;
      width: 100%;
      max-width: 100%;
    }
  }
}
