.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10rem 0;

  background-image: linear-gradient(to right bottom, #256d85 0 70%, #002b5b);

  &__heading {
    font-size: 3rem;
    color: #fff;
    @media only screen and (max-width: 46.88em) {
      font-size: 4rem;
    }
  }

  &__content {
    width: 80%;
    @media only screen and (max-width: 56.25em) {
      width: 90%;
    }

    border-radius: 1rem;
    background-image: linear-gradient(
        105deg,
        rgba(#fff, 0.9) 0%,
        rgba(#fff, 0.9) 50%,
        transparent 50%
      ),
      url("../../assets/form-img-lg.jpg");
    @media only screen and (max-width: 46.88em) {
      width: 90%;
      background-image: linear-gradient(
          105deg,
          rgba(#fff, 0.9) 0%,
          rgba(#fff, 0.9) 100%
        ),
        url("../../assets/form-img-lg.jpg");
      background-position: 100% 100%;
    }
    @media only screen and (max-width: 37.5em) {
      width: 90%;
      background-image: linear-gradient(
          105deg,
          rgba(#fff, 0.9) 0%,
          rgba(#fff, 0.9) 100%
        ),
        url("../../assets/form-img-sm.jpg");
      background-position: 100% 100%;
    }

    background-position: -20% 0;
    background-size: cover;
    background-repeat: none;
    margin-top: 5rem;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.5);
  }
}
